body {
  background: white;
  font-family: Arial;
}

.container {
  transition: width .2s ease .3s;
  position: absolute;
  left: 127px;
  top: 87px;
  background: rgb(235, 235, 235);
  transform: translateY(30px);
  text-align: left;
  width: 496px;
  border: 1px solid rgb(0, 153, 188);
  padding: 2px;
  box-shadow: 0px 0px 35px -5px gray;
  border-radius: 1px;
}

.container h1 {
  text-align: left;
  font-size: 11px;
  margin: 0px 0px 20px 5px;
  font-weight: normal;
  user-select: none;
  padding-bottom: 20px;
  padding-top: 6px;
}

.screen {
  background: rgb(235, 235, 235);
  border: none;
  font-size: 35px;
  text-align: right;
  margin-top: 0px;
  margin-right: 10px;
}

.mini-screen {
  font-size: 20px;
  color: rgb(150, 150, 150);
  margin-bottom: 5px;
  width: 98%;
  text-align: right;
}

.button-close {
  position: absolute;
  top: 1px;
  right: 1px;
  padding: 5px 22px 20px 16px;
  height: 15px;
  width: 15px;
  border: none;
  background: rgb(235, 235, 235);
  text-align: center;
  user-select: none;
  font-family: Verdana;
}

.button-close:hover {
  background: rgb(232, 17, 35);
  color: #ffffff;
}

.notice {
  position: absolute;
  top: 0px;
  left: 158px;
  color: rgba(255, 255, 255, 0.92);
  background: rgb(232, 17, 35);
  margin: 0px;
  padding: 2px 50px 5px 50px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  user-select: none;
  display: none;
}

.button-box {
  display: inline-flex;
  flex-wrap: wrap;
  user-select: none;
  width: 496px;
}

.button-box button {
  width: 95px;
  height: 60px;
  border: none;
  margin: 2px;
  font-size: 25px;
}

.button-num {
  font-weight: bold;
  background: rgb(251, 251, 251);
}

.button-num:hover {
  background: rgb(209, 209, 209);
}

.button-num:active {
  background: rgb(187, 187, 187);
}

.button-other {
  background: rgb(244, 244, 244);
}

.button-other:hover {
  color: #fff;
}

.button-other:active {
  color: #fff;
}

.icon {
  position: absolute;
  top: 40%;
  left: 40%;
  display: none;
  height: 150px;
  width: 150px;
  background: rgb(0, 153, 188);
  border: 1px solid rgb(0, 153, 188);
  box-shadow: 0px 0px 35px -5px gray;
  transition: all .5s;
}

.icon:hover {
  box-shadow: 0px 0px 35px 0px gray;
}

.icon p {
  position: absolute;
  bottom: -12px;
  left: 11px;
  font-size: 18px;
  color: #fff;
  background: rgb(0, 153, 188);
  user-select: none;
}

.history {
  float: right;
  width: 0px;
  height: 0px;
  opacity: 0;
  transition: all .2s ease .5s;
  text-align: left;
  padding-right: 10px;
  padding-left: 5px;
}

.history>p {
  position: fixed;
  width: 300px;
}

.detail p {
  margin: 5px;
}

.detail .result {
  font-weight: bold;
  margin-bottom: 10px;
}

.detail {
  margin-top: 50px;
  text-align: right;
  overflow: auto;
}

.express {
  color: rgb(150, 150, 150);
}

#button-clear {
  margin-left: 50px;
}

.history>p>a {
  text-decoration: none;
  color: #000;
}

.history>p>a:hover {
  text-decoration: none;
  color: rgb(0, 153, 188);
}