body {
  font-size: 11pt;
  color: rgb(64, 64, 64);
  font-family: Georgia, Garamond;
  background-image: url('http://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg');
  background-attachment: fixed;
}

a {
  color: rgb(164, 164, 0);
}

.title {
  color: rgb(164, 164, 0);
  background: rgb(240, 240, 240);
  font-size: 18pt;
  font-family: Century Gothic, Futura, Verdana;
  text-decoration-line: underline;
  letter-spacing: 0.2em;
}

.titleBig {
  font-size: 22pt;
  text-align: center;
  font-weight: bold;
}

.lineBox {
  border-top: 1pt solid rgb(141, 141, 141);
  border-bottom: 1pt solid rgb(141, 141, 141);
}

.list {
  list-style-image: url('http://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/pie_icon.gif')
}

.comments {
  font-style: italic;
  background: rgb(255, 255, 200);
}