<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Oh,no</title>
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="style/style.css">
</head>

<body>
  <div class="container">
    <div>
      <p class="title"><%=message%></p>
      <p>3s 后跳转到首页...</p>
    </div>
  </div>
  <script src="js/404.js"></script>
</body>

</html>
