<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>注册</title>
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="style/style.css">
</head>

<body>
  <div id="notice" class="notice notice-hide"></div>
  <div class="container">
    <div>
      <p class="title">用户注册</p>
      <div class="input-box">
        <p><i class="fa fa-user-o fa-fw" aria-hidden="true"></i> 用户名: <input id="userName" name="input" type="text"></p>
        <p><i class="fa fa-key fa-fw" aria-hidden="true"></i> 密码: <input id="userPass" name="input" type="password"></p>
        <p><i class="fa fa-key fa-fw" aria-hidden="true"></i> 再次输入密码: <input id="userPassAgain" name="input" type="password"></p>
        <p><i class="fa fa-id-card-o fa-fw" aria-hidden="true"></i> 学号: <input id="userId" name="input" type="text"></p>
        <p><i class="fa fa-phone fa-fw" aria-hidden="true"></i> 电话: <input id="userPhone" name="input" type="text"></p>
        <p><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i> 邮箱: <input id="userEmail" name="input" type="text"></p>
        <div class="ctrl"><a class="button" id="reset">重置</a><a class="button" id="submit">提交</a></div>
      </div>
    </div>
  </div>
  <script src="https://cdn.bootcss.com/axios/0.17.1/axios.js"></script>
  <script src="js/regist.js"></script>
</body>

</html>
