#at-plus-container {
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 150px;
  left: 50%;
}

#bottom-positioner {
  margin: 0 auto;
  &:hover {
    #button {
      .apb {
        height: 50px;
        width: 50px;
        background: rgba(48, 63, 159, 1);
        background-image: url('./assets/images/atplus_green.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
      }
      #info-bar {
        transform: translate(-35px, -140px);
        background: rgb(126, 126, 126);
        height: 130px;
        width: 130px;
        opacity: 1;
        ul {
          opacity: 1;
        }
      }
      #control-ring-container {
        opacity: 1;
        #control-ring {
          .button {
            &::after {
              opacity: 1;
            }
          }
          .unread {
            opacity: 1;
          }
          .mask {
            transform: translate(-50px, -20px);
          }
          .history {
            transform: translate(-65px, 20px);
          }
          .message {
            transform: translate(-50px, 55px);
          }
          .setting {
            transform: translate(-15px, 75px);
          }
          .sign {
            transform: translate(25px, 73px);
          }
        }
      }
    }
  }
}

#button {
  div {
    position: fixed;
    transition: all .5s;
    transition-delay: .5s;
    display: inline-block;
    margin: 0 auto;
  }
}

.apb {
  height: 30px;
  width: 30px;
  border-radius: 100px;
  background: rgb(153, 157, 204);
  background-image: url('./assets/images/atplus_white.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}

#control-ring-container {
  opacity: 0;
  #control-ring {
    list-style-type: none;
    position: fixed;
    margin-left: -40px;
    margin-top: -4px;
    li {
      position: fixed;
      display: inline-block;
      background: rgb(104, 104, 104);
      border-radius: 100px;
    }
    * {
      transition: all .5s;
      transition-delay: .5s;
    }
    .button {
      &::after {
        transition: all .2s;
        transition-delay: .3s;
        opacity: 0;
        content: "";
        display: block;
        border-radius: 100px;
        background: rgb(104, 104, 104);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60%;
        width: 30px;
        height: 30px;
        overflow: hidden;
      }
    }
    .unread {
      z-index: 1024;
      transition: all .2s;
      transition-delay: .3s;
      opacity: 0;
      display: inline-block;
      text-align: center;
      position: absolute;
      transform: translate(4px, -6px);
      background: red;
      border-radius: 50%;
      font-size: 12px;
      height: 16px;
      width: 16px;
    }
    .mask {
      &::after {
        background-image: url('./assets/images/nomask.png');
      }
    }
    .history {
      &::after {
        background-image: url('./assets/images/history.png');
      }
    }
    .setting {
      &::after {
        background-image: url('./assets/images/setting.png');
      }
    }
    .message {
      &::after {
        background-image: url('./assets/images/message.png');
      }
    }
    .sign {
      &::after {
        background-image: url('./assets/images/signin.png');
      }
    }
  }
}

#info-bar {
  height: 10px;
  width: 10px;
  border-radius: 100px;
  opacity: 0;
  div {
    position: relative;
    ul {
      transition: all .5s;
      transition-delay: .5s;
      list-style-type: none;
      font-weight: bold;
      opacity: 0;
      transform: translateX(-20px);
      li {
        display: inline-block;
        img {
          margin-right: 5px;
        }
      }
    }
    span {
      vertical-align: top;
    }
  }
  .mine {
    color: rgb(43, 216, 152);
  }
  .user {
    margin-top: -10px;
  }
  .comment {
    margin-bottom: 8px;
    font-size: 30px;
  }
  .posted {
    float: left;
  }
  .like {
    float: right;
  }
}